:root {
    /* ---------------Colors---------------- */
    --white: #FFFFFF;
    --black: #001A23;
    --violet: #7B6085;
    --blue: #306BAC;
    --aquamarine: #7AE7C7;
    --green: #0CCE6B;
    --yellow: #F8C630;
    --orange: #EF8218;
    --red: #A32235;
    /* ---------------Values--------------- */
    --header-height: 5rem;
    --sidebar-width: 5rem;
    --sidebar-open-width: 10rem;
}
html{
    background-color: var(--black);
}
*{
    margin: 0;
}



/* ----------------Header------------------ */
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--white);
}
#header-title{
    color: var(--red);
}
/* --Sidebar Button-- */
.sandwich-btn {
    width: var(--header-height);
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    background-color: var(--white);
}
.sandwich-btn:hover{
    cursor: pointer;
}
.wich-one, .wich-two, .wich-three{
    width: 80%;
    height: calc(var(--header-height) / 12);
    background-color: var(--black);
    transition: 0.4s;
}
.open .wich-one {
    -webkit-transform: rotate(-45deg) translate(-14px,14px);
    transform: rotate(-45deg) translate(-14px,14px)
}
.open .wich-two {
    opacity: 0;
}
.open .wich-three {
    -webkit-transform: rotate(45deg) translate(-15px,-17px);
    transform: rotate(45deg) translate(-15px,-17px);
}
/* --Header nav-- */
#header-nav{
    padding-right: 50px;
    display: flex;
    gap: 30px;
}

.header-links{
    text-decoration: underline;
    font-weight: 600;
}
.header-links:hover{
    cursor: pointer;
}
/* --------------Sidebar--------------- */
#sidebar{
    position: fixed;
    top: var(--header-height);
    width: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: var(--white);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s;
}
#sidebar.open{
    width: var(--sidebar-open-width);
}
.link-span{
    font-weight: 600;
    color: var(--black);
}

/* --------------------Main--------------------- */
#content{
    position: absolute;
    top: var(--header-height);
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: calc(100vh - var(--header-height));
    transition: 0.4s;
}
#content.open{
    left: var(--sidebar-open-width);
    width: calc(100vw - var(--sidebar-open-width));
}

/* --Form-- */
#filters {
    width: 700px;
    height: 300px;
    background-color: var(--red);
    border: 3px solid var(--white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--white)
}
.filter-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.filter-input{
    display: flex;
    gap: 5px;
    color: var(--black)
}
#colors, #type{
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 25px;
    width: 200px;
    height: 20px;
}
.checkbox-container{
    position: relative;
    padding-left: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border: 1px solid var(--black);
}
.checkbox-container:hover input ~ .checkbox{
    background-color: var(--yellow);
}
.checkbox-container input:checked ~ #red-checkbox{
    background-color: var(--red);
}
.checkbox-container input:checked ~ #green-checkbox{
    background-color: var(--green);
}
.checkbox-container input:checked ~ #blue-checkbox{
    background-color: var(--blue);
}
.checkbox-container input:checked ~ #black-checkbox{
    background-color: var(--black);
}
.checkbox-container input:checked ~ #white-checkbox{
    background-color: var(--white);
}
.checkbox::after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkbox::after{
    display: block;
}
.checkbox-container .checkbox::after{
    left: 4px;
    top: -1px;
    width: 5px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-container #blue-checkbox::after, #green-checkbox::after, #white-checkbox::after{
    border: solid var(--black);
    border-width: 0 3px 3px 0;
}
.checkbox-container #black-checkbox::after, #red-checkbox::after{
    border: solid var(--white);
    border-width: 0 3px 3px 0;
}
.checkbox-container input:checked ~ .checkbox{
    background-color: var(--aquamarine);
}
.checkbox-container .checkbox::after{
    border: solid var(--white);
    border-width: 0 3px 3px 0;
}

.chosen-subtypes {
    min-width: 100px;
    height: 20px;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 25px;
}
/* -------------Buttons-------------- */
button{
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--black);
    cursor: pointer;
}
button:hover{
    box-shadow: 1px 1px 5px var(--black);
}

/* --------------Modal--------------- */
.subtypes-modal{
    display: none;
}
.subtypes-modal.open{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: calc(50vh - 200px);
    left: calc(50vw - 350px);
    width: 700px;
    height: 400px;
    background-color: var(--white);
    border: 3px solid var(--blue);
    border-radius: 25px;
    z-index: 2;
}
#modal-choices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
}
#choices-div{
    display: flex;
    align-items: center;
    min-width: 200px;
    height: 100%;
    padding-left: 10px;
    background-color: var(--black);
    border: 1px solid var(--blue);
    border-radius: 25px;
    color: var(--white);
}

#modal-main{
    display: flex;
    height: 300px;
    width: 95%;
    background-color: var(--red);
    border: 2px solid var(--black);
    border-radius: 25px;
}
#modal-list-container{
    flex: 3;
    height: 100%;
    background-color: var(--white);
    border-radius: 25px;
}
#modal-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
#modal-options-container{
    flex: 7;
    height: 100%;
    overflow-y: scroll;
    border-radius: 25px;
}
#modal-options-container::-webkit-scrollbar{
    display: none;
}
li {
    margin-top: 33px;
}
li:hover{
    cursor: pointer;
}